<header class="row row-header">
	<div class="cont">
		<div class="site-branding">
			<a href="{{ path("home") }}" class="blog-link">My Blog</a>
		</div>
		<nav class="main-navigation">
			{% set links = [] %}
				{% set links = links|merge([
				{"name": "Posts", "route": "print_all_posts"}
				]) %}

				{% if user is defined and user and "ROLE_ADMIN" in user.roles %}
					{% set links = links|merge([
					{"name": "Category", "route": "admin_create_category"}
					]) %}
				{% endif %}

				{% if user is defined and user %}
					{% set links = links|merge([
					{"name": "Write", "route": "create_post"},
					{"name": "Logout", "route": "/logout"}
					]) %}
				{% endif %}
				{% if user is not defined or user == false %}
					<div>
						<a href="{{ path("login") }}" class="main-navigation-link">Sign In</a>
						 | 
						<a href="{{ path("register") }}" class="main-navigation-link">Sign Up</a>
					</div>
				{% endif %}
				{% for link in links %}
					{% if link.route == "/logout" %}
						<a href="{{ logout_path() }}" class="main-navigation-link">{{ link.name }}</a>
					{% elseif link.route %}
						<a href="{{ path(link.route) }}" class="main-navigation-link">{{ link.name }}</a>
					{% else %}
						<span>{{ link.name }}</span>
					{% endif %}
				{% endfor %}
			</nav>
		</div>
	</header>